@font-face {
  font-family: "glyphicons";
  font-style: normal;
  font-weight: 500;
  src: url("../bower_components/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?") format("eot"), url("../bower_components/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons") format("svg"), url("../bower_components/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../bower_components/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../bower_components/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2");
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 500;
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?") format("eot"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.svg#FontAwesome") format("svg"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff") format("woff"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff2") format("woff2"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.otf") format("opentype");
}
/* line 8, ../sass/styles.scss */
body {
  background-color: #e8e6e4;
}

/* line 1, ../sass/_header.scss */
header {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #32333d;
  font-family: 'Myriad Pro', sans-serif;
}
/* line 8, ../sass/_header.scss */
header .logo {
  color: white;
  text-decoration: none;
  font-size: 20px;
  height: 60px;
  display: inline-block;
  vertical-align: baseline;
  line-height: 60px;
  padding-left: 20px;
}
/* line 17, ../sass/_header.scss */
header .logo:hover {
  color: #ff8f00;
}
/* line 22, ../sass/_header.scss */
header .menu {
  font-weight: 500;
  display: inline-block;
  text-align: right;
  float: right;
  height: 60px;
  line-height: 60px;
  padding-right: 60px;
}
/* line 31, ../sass/_header.scss */
header .menu > #menu-header_menu {
  list-style-type: none;
}
/* line 34, ../sass/_header.scss */
header .menu > #menu-header_menu > li {
  display: inline;
}
/* line 37, ../sass/_header.scss */
header .menu > #menu-header_menu > li > a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 21px 14px;
}
/* line 43, ../sass/_header.scss */
header .menu > #menu-header_menu > li > a:hover {
  background-color: #ff8f00;
  padding: 21px 14px 20px;
}
/* line 47, ../sass/_header.scss */
header .menu > #menu-header_menu > li > a:hover:hover {
  background-color: #ff8f00;
}
/* line 55, ../sass/_header.scss */
header .menu > #menu-header_menu > li > .menu-item-has-children > a:after {
  content: '\25bc';
  font-size: 8px;
  position: relative;
  left: 7px;
  bottom: 1px;
}
/* line 65, ../sass/_header.scss */
header .menu > #menu-header_menu > li > .menu-item-has-children:hover > .sub-menu {
  display: block;
}
/* line 73, ../sass/_header.scss */
header .menu > #menu-header_menu .sub-menu {
  display: none;
  text-align: left;
  background-color: #32333d;
  position: absolute;
  top: 60px;
  right: 0;
  width: 146px;
  min-width: 100px;
  overflow: hidden;
  border-bottom-left-radius: 10px;
}
/* line 85, ../sass/_header.scss */
header .menu > #menu-header_menu .sub-menu li {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}
/* line 90, ../sass/_header.scss */
header .menu > #menu-header_menu .sub-menu li:first-child {
  border-top: 1px solid white;
}
/* line 93, ../sass/_header.scss */
header .menu > #menu-header_menu .sub-menu li:not(:last-child) {
  border-bottom: 1px solid white;
}
/* line 97, ../sass/_header.scss */
header .menu > #menu-header_menu .sub-menu li:hover {
  background-color: #ff8f00;
}
/* line 102, ../sass/_header.scss */
header .menu > #menu-header_menu .sub-menu a {
  color: white;
  text-decoration: none;
  padding: 9px 50px 10px 20px;
  line-height: 13px;
}
/* line 108, ../sass/_header.scss */
header .menu > #menu-header_menu .sub-menu a:hover {
  background-color: #ff8f00;
}
/* line 115, ../sass/_header.scss */
header .menu .menu ul li:hover > a {
  background-color: #ff8f00;
}
@media screen and (max-width: 960px) {
  /* line 120, ../sass/_header.scss */
  header .menu .logo {
    font-size: 18px;
  }
  /* line 124, ../sass/_header.scss */
  header .menu .menu {
    padding-right: 20px;
  }
  /* line 127, ../sass/_header.scss */
  header .menu .menu > #menu-header_menu > li > a {
    padding: 21px 9px;
    font-size: 15px;
  }
  /* line 131, ../sass/_header.scss */
  header .menu .menu .sub-menu {
    width: 124px;
  }
  /* line 136, ../sass/_header.scss */
  header .menu .sub-menu {
    width: 124px;
  }
}
@media screen and (max-width: 768px) {
  /* line 144, ../sass/_header.scss */
  header .menu {
    padding-right: 20px;
  }
  /* line 147, ../sass/_header.scss */
  header .menu > #menu-header_menu > li > a {
    padding: 21px 9px;
    font-size: 12px;
    letter-spacing: 1px;
  }
  /* line 153, ../sass/_header.scss */
  header .menu .sub-menu {
    width: 124px;
  }
}
@media screen and (max-width: 680px) {
  /* line 159, ../sass/_header.scss */
  header .menu {
    background: url("../images/hamburger.png");
    background-repeat: no-repeat;
    background-size: 25px auto;
    padding: 0 20px 0 50px;
    background-position: 20px 15px;
  }
  /* line 166, ../sass/_header.scss */
  header .menu:hover {
    cursor: pointer;
  }
  /* line 170, ../sass/_header.scss */
  header .menu ul {
    display: none;
  }
  /* line 175, ../sass/_header.scss */
  header .menu:active ul {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  /* line 183, ../sass/_header.scss */
  header .logo {
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
  }
  /* line 188, ../sass/_header.scss */
  header .menu {
    padding: 0px 25px;
    background-position: 10px 15px;
  }
}
