$large: "screen and (max-width : 960px)";
$medium: "screen and (max-width : 768px)";
$xmedium: "screen and (max-width : 680px)";
$small: "screen and (max-width : 480px)";
$xsmall: "screen and (max-width : 320px)";